<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Servers</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-home></app-home>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-users></app-users>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <app-routes-servers></app-routes-servers>
  </div>
</div>