<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">{{ title }}</a>
        <form class="form-inline">
          <div class="dropdown" angular-dropdown>
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Assignments
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a
                class="dropdown-item"
                href="#"
                *ngFor="let assign of assignments"
                [routerLink]="['/assignment', assign.toLowerCase()]"
                routerLinkActive="active"
              >
                {{ assign }}
              </a>
            </div>
          </div>

          <div class="dropdown" angular-dropdown>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Examples
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <a
                class="dropdown-item"
                href="#"
                *ngFor="let example of examples"
                [routerLink]="['/example', example.toLowerCase()]"
                routerLinkActive="active"
              >
                {{ example }}
              </a>
            </div>
          </div>
        </form>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>