<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">{{ title }}</a>
        <form class="form-inline">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Assignments</span>
            </div>
            <div class="btn-group mr-2">
              <button
                class="btn btn-outline-success"
                *ngFor="let assign of assignments"
                [routerLink]="['/assignment', assign.toLowerCase()]"
                routerLinkActive="active"
              >
                {{ assign }}
              </button>
            </div>
          </div>
          
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Examples</span>
            </div>
            <div class="btn-group mr-2">
              <button
                class="btn btn-outline-primary"
                *ngFor="let example of examples"
                [routerLink]="['/example', example.toLowerCase()]"
                routerLinkActive="active"
              >
                {{ example }}
              </button>
            </div>
          </div>
        </form>      
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>