<label>Server Name</label>

<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"
/>

<p>{{ firstServerName }}</p>

<input
  type="text"
  class="form-control"
  [(ngModel)]="secondServerName"
/>

<p>{{ secondServerName }}</p>

<button
  type="button"
  class="btn btn-primary"
  [disabled]="!canAddServer"
  (click)="createServer()"
>
  Add another server
</button>

<p *ngIf="isServerCreated; else noServer">Server has been created with name {{ firstServerName || secondServerName }}</p>
<ng-template #noServer>
  <p>No server has been created</p>
</ng-template>

<app-server *ngFor="let server of servers; let i"></app-server>