<div class="col-12">
  <p>Add new Servers or blueprints!</p>

  <label>Server Name</label>
  <!-- USING NG MODEL - TWO WAY BINDING -->
  <!-- <input
    type="text"
    class="form-control"
    [(ngModel)]="newServerName"> -->

  <!-- USING LOCAL REFERENCE -->
  <input
    type="text"
    class="form-control"
    #newServerName>

  <label>Server Content</label>
  <!-- USING NG MODEL - TWO WAY BINDING -->
  <!-- <input
    type="text"
    class="form-control"
    [(ngModel)]="newServerContent"> -->

  <!-- USING LOCAL REFERENCE AND VIEW CHILD -->
  <input
    type="text"
    class="form-control"
    #newServerContent>
  <br>

  <div class="btn-group">
    <button
      class="btn btn-primary"
      (click)="onAddServer(newServerName)">Add Server</button>
    <button
      class="btn btn-success"
      (click)="onAddBlueprint(newServerName)">Add Server Blueprint</button>
  </div>
</div>