<div class="row">
  <div class="col-md-12"><img src="" alt="" class="img-responsive"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Recipe Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">Test</a>
        <a class="dropdown-item" href="">Test</a>
        <a class="dropdown-item" href="">Test</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">Description</div>
</div>
<div class="row">
  <div class="col-md-12">Ingredients</div>
</div>