<div class="row">
  <div class="col-12">
    <img
      [src]="selectedRecipe.imagePath"
      [alt]="selectedRecipe.description"
      class="img-fluid"
    >
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div
      class="dropdown"
      customDropdown
    >
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Test</a>
        <a class="dropdown-item" href="#">Test</a>
        <a class="dropdown-item" href="#">Test</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ selectedRecipe.description }}</div>
</div>
<div class="row">
  <div class="col-12">Ingredients</div>
</div>