<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            ngModel
            required
          >
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            class="form-control"
            ngModel
            required
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!editForm.valid"
            >
              {{ editMode ? 'Update' : 'Add'}}
            </button>

            <button
              *ngIf="editMode"
              class="btn btn-danger"
              type="button"
              (click)="onDelete()"
            >
              Delete
            </button>

            <button
              class="btn btn-primary"
              type="button"
              (click)="onClear()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>