<div class="row">
  <div class="col-md-12">
    <form action="">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            [(ngModel)]="formIngredient.name"  
          >
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            class="form-control"
            [(ngModel)]="formIngredient.amount"  
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group">
            <button
              class="btn btn-success"
              type="submit"
              (click)="addIngredient()"
            >
              Add
            </button>

            <button
              class="btn btn-danger"
              type="button"
              (click)="deleteIngredient()"
            >
              Delete
            </button>

            <button
              class="btn btn-primary"
              type="button"
              (click)="setNewIngredient()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>