<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="#" class="navbar-brand">{{ title }}</a>
        <form class="form-inline">
          <div class="btn-group mr-2">
            <button
              class="btn btn-outline-success"
              *ngFor="let exc of exercises"
              [ngClass]="{'active': exc === selected}"
              (click)="changeAssignment(exc)">{{ exc }}</button>
          </div>
          
          <div class="btn-group mr-2">
            <button
              class="btn btn-outline-primary"
              *ngFor="let case of cases"
              [ngClass]="{'active': case === selected}"
              (click)="changeAssignment(case)">{{ case }}</button>
          </div>
        </form>      
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" [ngSwitch]="selected">
      <app-first-assignment *ngSwitchCase="exercises[0]"></app-first-assignment>
      <app-second-assignment *ngSwitchCase="exercises[1]"></app-second-assignment>
      <app-third-assignment *ngSwitchCase="exercises[2]"></app-third-assignment>
      <app-servers *ngSwitchCase="cases[0]"></app-servers>
      <app-types *ngSwitchCase="cases[1]"></app-types>
    </div>
  </div>
</div>