<app-show-objectives
  [title]="assignmentConfig.title"
  [mainObjectives]="assignmentConfig.mainObjectives"
></app-show-objectives>


<form action="" class="form-inline">
  <div class="form-group">
    <button class="btn btn-primary" (click)="toogleSecretText()">Display Details</button>
<p *ngIf="showSecretText">{{ secretText }}</p>
  </div>
</form>

<p
  *ngFor="let clickElement of timesClicked, let i"
  [ngClass]="{'white-font': i > 4}"
  [ngStyle]="{backgroundColor: getBackgroundColor(i)}"
>
  {{ clickElement }}
</p>